{% extends 'shop/basic.html' %}

{%block title%} About Us {% endblock %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-4">MyAwesomeCart</h1>
    <p class="lead">MyAwesomeCart is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

        The service competes primarily with Amazon India and domestic rival Snapdeal.[5][6] As of March 2017, MyAwesomeCart held a 39.5% market share in the Indian e-commerce industry.[7] MyAwesomeCart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8]</p>
    
        <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

{% endblock body %}
